.flex-parent-element{
    display: flex;
    color: white;
 }
 
#score-bar-pool, #score-bar-snooker{
     height: 40px;
     width: 50%;
     border: 1px solid;
     border-radius: 10px;
     margin-left: 25%;
     bottom: 50px;
     position: fixed;
 }

.flex-child-element {
    flex: 1;
    /* border: 2px solid blueviolet; */
    margin: 5px;
}

.flex-child-element:first-child {
    margin-right: 35px;
}
  
.right-info{
    text-align: right;
}

.player-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}

#score-bar-snooker{
    visibility: hidden;
}